body {
	background: #171717;
	height: 100%;
	margin: auto;
	color: #195da4;
}

.styled {
	border-color: #3ddeed;
	color: #3ddeed;
}

h1 {
	color: #3ddeed;
	font-variant-caps: all-small-caps;
	font-size: 46px;
}

h3 {
	color: #3ddeed;
	font-size: 36px;
}

h2 {
	color: #3ddeed;
	font-size: 24px;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}

.pagination-page-info b {
    color: #3ddeed;
    background: #171717;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.page-link {
    background-color: #171717;
}

table, th, td {
  border: 1px solid #3ddeed;
}