body {
	background: #040522;
	height: 100%;
	margin: auto;
}

.styled {
	border-color: #3ddeed;
	color: #3ddeed;
}

h1 {
	color: #3ddeed;
	font-variant-caps: all-small-caps;
	font-size: 46px;
}

h3 {
	color: #3ddeed;
	font-size: 36px;
}

h2 {
	color: #3ddeed;
	font-size: 24px;
}

table, th, td {
  border: 1px solid #3ddeed;
}