{% extends 'layout.html' %}
{% block body %}
<center>
    <div>
        <h3>{{file}}</h3>
        <br>
        <a style="margin-right: 10px;" href="{{ '/display/' + file }}" class="btn btn-outline-primary btn-lg styled" role="button">Display</a>
        <a style="margin-right: 10px;" href="{{ '/download/' + file }}"
                   class="btn btn-outline-primary btn-lg styled" role="button">Download</a>
        <a href="{{ '/stats/' + file }}"
           class="btn btn-outline-primary btn-lg styled" role="button">Stats</a>
    </div>
</center>
{% endblock %}